.container-fluid {
    position: relative;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.main-content {
    display: none;
}

/* invoice */
.card {
    margin: 50px auto; /* Tengah dan beri ruang vertikal */
    padding: 35px;
    max-width: 75rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

/* invoice-list */
body.dark .card {
    background-color: #18191A;
    border: 1.5px solid rgb(255, 255, 255);
    color: white;
}

body.dark .card .table {
    color: white;
}



/* RESPONSIVE */
@media screen and (max-width: 600px) {
    body.dark .header h1 {
        color: white;
    }

    body.dark .card {
        background-color: #18191A;
        border: 1.5px solid rgb(255, 255, 255);
        color: rgb(212, 211, 211);
    }

    span.logo.navLogo {
        display: none;
    }

    .searchBox {
        display: none;
    }

    .desktop {
        display: none;
    }

    .main-content {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 30px 0;
    }

    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

